<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-collapse-item/paper-collapse-item.html">
<link rel="import" href="../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../bower_components/paper-styles/color.html">

<dom-module id="rotation-task">
  <template>
    <style>
      :host {
        --paper-badge-height: 32px;
        --paper-badge-width: 32px;
      }
      .badge {
        margin-right: 16px;
      }
      paper-badge {
        /* initial state before async check is done */
        --paper-badge-background: var(--paper-grey-500);
      }
      paper-badge.pass {
        --paper-badge-background: var(--paper-green-500);
      }
      paper-badge.fail {
        --paper-badge-background: var(--paper-red-500);
      }
      a {
        color: var(--paper-blue-800);
      }
    </style>

    <div>
      <paper-collapse-item>
        <div slot='header'>
          <a href='[[task.href]]' target='_blank'>[[task.name]]</a>
        </div>
        <div class='badge' slot='icon'>
          <paper-badge label='[[_computeBadgeLabel(task.count)]]' class$='[[_computeBadgeClass(task.count)]]'></paper-badge>
        </div>
      </paper-collapse-item>
    </div>

  </template>

  <script>
    class RotationTask extends Polymer.Element {
      static get is() {
        return 'rotation-task';
      }

      static get properties() {
        return {
          task: Object,
        };
      }

      ready() {
        super.ready();

        // the status promise resolves to the count
        if (this.task.status) {
          this.task.status.then(count => {
            this.set('task.count', count);
          }).catch(error => {
            alert(`Something is wrong: ${error}`);
          });
        }
      }

      _computeBadgeLabel(count) {
        if (count === undefined) {
          return '?';
        }
        if (count === 0) {
          return '';
        }
        return String(count);
      }

      _computeBadgeClass(count) {
        if (count === undefined) {
          return '';
        }
        if (count === 0) {
          return 'pass';
        }
        return 'fail';
      }
    }

    customElements.define(RotationTask.is, RotationTask);
  </script>
</dom-module>
