<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="./rotation-task-group.html">

<dom-module id="wpt-rotation">
  <template>
    <style>
      :host {
        @apply(--paper-font-common-base);
      }
    </style>
    <template is='dom-repeat' as='group' items='[[groups]]'>
      <rotation-task-group name='[[group.name]]' tasks='[[group.tasks]]'></rotation-task-group>
    </template>
    <footer>
      <p>source on <a href="https://github.com/foolip/wpt-rotation">GitHub</a></p>
    </footer>
  </template>
  <script>
    const now = Date.now();

    function minutesAgo(minutes) {
      const date = new Date(now - minutes * 60000);
      return date.toISOString().substr(0, 10);
    }

    function daysAgo(days) {
      return minutesAgo(days * 1440);
    }

    function monthsAgo(months) {
      const date = new Date(now);
      // Yes, this actually works with negative months:
      // https://tc39.github.io/ecma262/#sec-date.prototype.setutcmonth
      date.setUTCMonth(date.getUTCMonth() - months);
      return date.toISOString().substr(0, 10);
    }

    function yearsAgo(years) {
      return monthsAgo(years * 12);
    }

    function githubTask(name, query) {
      // These two URLs for the API and the website should be in sync, different views of the same data.
      const BASE_API_URL = "https://api.github.com/search/issues?q=repo%3Aw3c%2Fweb-platform-tests%20";
      const BASE_WEB_URL = "https://github.com/w3c/web-platform-tests/issues?q=";

      const apiURL = `${BASE_API_URL}${encodeURIComponent(query)}`;
      const webURL = `${BASE_WEB_URL}${encodeURIComponent(query)}`;

      return {
        name: name,
        href: webURL,
        status: fetch(apiURL).then(r => r.json()).then(r => r.total_count),
      };
    }

    class WPTRotation extends Polymer.Element {
      static get is() {
        return 'wpt-rotation';
      }

      static get properties() {
        return {
          groups: Array,
        };
      }

      ready() {
        super.ready();

        const toplevelTaskInfo = [
          { name: 'unlabeled issues', query: 'is:issue is:open no:label' },
          { name: 'old issues (>3 years)', query: `is:issue is:open updated:<${yearsAgo(3)} sort:updated-asc` },
          { name: 'PRs without owner', query: 'is:pr is:open label:status:needs-owners  sort:updated-asc' },
          { name: 'old PRs (>1 year)', query: `is:pr is:open updated:<${yearsAgo(1)} sort:updated-asc` },
        ];

        const groups = [
          {
            name: 'top-level triage',
            tasks: toplevelTaskInfo.map(info => githubTask(info.name, info.query)),
          },
        ];

        const labels = ['docs', 'infra', 'policy'];
        for (const label of labels) {
          const labelTaskInfo = [
            { name: 'new issues (no comments, unconfirmed)', query: `is:issue is:open label:${label} -label:"status:confirmed" comments:0` },
            { name: 'old issues (>1 year)', query: `is:issue is:open label:${label} updated:<${yearsAgo(1)} sort:updated-asc` },
            { name: 'open PRs', query: `is:pr is:open label:${label} sort:updated-asc` },
          ];
          groups.push({
            name: `${label} label triage`,
            tasks: labelTaskInfo.map(info => githubTask(info.name, info.query)),
          });
        }

        this.groups = groups;
      }
    }

    customElements.define(WPTRotation.is, WPTRotation);
  </script>
</dom-module>
